<%- include('layout/header'); -%>

    <div class="heading-row mb-20">
        <div class="row align-item-center">
            <div class="col-lg-6">
                <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i
                            class="mdi mdi-history"></i></span> Order History </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="select-new" class="form-control">
                                    <option>User Name</option>
                                    <option>Willian Smith</option>
                                    <option>Dia Firdaus</option>
                                    <option>Zimmy Wu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="select-new2" class="form-control">
                                    <option>Tx ID</option>
                                    <option>DE1002</option>
                                    <option>FV3485</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="select-new3" class="form-control">
                                    <option>Reffered By</option>
                                    <option>Willian Smith</option>
                                    <option>Dia Firdaus</option>
                                    <option>Zimmy Wu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="select-new4" class="form-control">
                                    <option>Created Date</option>
                                    <option>Willian Smith</option>
                                    <option>Dia Firdaus</option>
                                    <option>Zimmy Wu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%">S. No.</th>
                                <th width="10%">User ID</th>
                                <th width="10%">ARTW_COUNT</th>
                                <th width="10%">Rate_Per_Artw</th>
                                <th width="5%">Total_amount</th>
                                <th width="10%">Transaction_Id</th>
                                <th width="5%">Sender Address</th>
                                <th width="10%">Artw_wallet_address</th>
                                <th width="10%">Payment Method</th>
                                <th width="10%">Payment Status</th>
                                <th width="10%">Created At</th>
                                <th width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var i=1; if(orderDetails.length> 0){
                                orderDetails.forEach(function(order){
                                %>
                                <tr>
                                    <td>
                                        <%-i%>
                                    </td>
                                    <td>order.user_id</td>
                                    <td>order.rwn_count</td>
                                    <td>order.rate_per_rwn</td>
                                    <td>order.total_amnt</td>
                                    <td>order.trnsaction_Id</td>
                                    <td>order.sender_wallet_address</td>
                                    <td>order.rwn_wallet_address</td>
                                    <td>order.payment_type</td>
                                    <td>order.payment_status</td>
                                    <td>order.created_at</td>
                                    <div class="edit-icons">
                                        <a href="order-details.php" data-toggle="tooltip" data-placement="top"
                                            title="Delete"><i class="mdi mdi-eye"></i></a>
                                    </div>
                                    </td>
                                </tr>
                                <% i++; }) } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('layout/footer'); -%>
        <script>
            $(document).ready(function () {
                $('.table').DataTable();
            });
        </script>