<%- include('layout/header'); -%>

    <div class="heading-row mb-20">
        <div class="row align-item-center">
            <div class="col-lg-6">
                <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i
                            class="mdi mdi-home"></i></span> Terms & Conditions </h3>
            </div>
            <div class="col-lg-6">
                <div class="text-right">
                    <div>
                        <a href="dashboard.php" class="btn btn-common bg-gradient-primary">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="profile-form mt-20">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Tittle</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Content</label>
                                                        <textarea class="form-control" name="editor1"></textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>





                                    <div class="popup-btn">
                                        <a href="" class="btn btn-common bg-gradient-primary">Save</a>
                                        <a href="" class="btn btn-common bg-gradient-primary">Cancel</a>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('layout/footer'); -%>