<%- include('front-header') %>


<div class="heder-space-strip">	
</div>


<section class=" sec-faq blog-sec-new" >
    <div class="container">
         <div class="row">
            <div class="col-md-12 mb-5">
               <h3 class="main-heading-index-new wow slideInLeft"><span>Blog Details</span><b>Blog Details</b></h3>
               
            </div>
        </div>
        <div class="row wow slideInUp">
            <div class="col-md-10 m-auto">
            	<a href="">
            		<div class="team-box-new">
                        <img src="https://questglt.com/blogs_images/1542650304.jpg" class="img-fluid" style="height: auto;max-height: 100%;">
                        <h5 class="sub-heading">TheARTW is a blockchain-based Art verification</h5>
                        <p>TheARTW is a blockchain-based Art verification and art trading platform. We are building an Art ecosystem which will enable all the stakeholders of the industry</p>
                    </div>
            	</a>
            </div>
             
        </div>
       
    </div>
</section>


<%- include('front-footer') %>