<%- include('header') %>

<section class="dash-inner-sec">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4"> -->
               <!-- <div class="row align-item-center"> -->
                            <!-- <div class="col-lg-12 col-md-12">
                              <div class="uploader-img">
                                     <img id="user_profile_image_preview" src="assets/images/other/bar-code-01.png" class="m-t-5" >
                                  </div>
                            </div> -->
                            <!-- <div class="col-lg-12 col-md-12">

                                  <div class="input-group mb-3 mb-3 verification">
                                      <input type="text" class="form-control" readonly="" id="text_img_name" data-rule-required="true" data-msg-required="Please select your Id.">
                                      <span class="input-group-btn for-profile">
                                      <span class="btn btn-green btn-file1">
                                      Upload a picture <input type="file" id="imgInp6" value="" name="image" accept="image/*" onchange="readURL(this);">
                                       <input type="hidden" name="old_image" value="">
                                      </span>
                                      </span>
                                   </div>
                                  <span id="imaggg_err" class="error_validate"></span>
                                  
                            </div> -->
                          <!-- </div> -->
                 <!-- </div> -->
             <div class="col-lg-7 col-md-12">
                 <div class="dashboard-box">
                     <div class="create-wallet-block profile-input">


                        <form method="POST" action="/submit-change-pass" id="password_form">

                            <h4 class="green-heading wow slideInLeft">Change Password</h4>
                            <% if(err_msg!=undefined){ %>
                                <span class="error_validate flash_msg"><%= err_msg %></span>
                            <% }%>
                            <% if(success_msg!=undefined){ %>
                                <span class="succ_flash_msg" style="color: green;"><%= success_msg %></span>
                            <% }%>
                          <div class="form-group  input-dash wow slideInUp">
                             <input class="form-control" type="text" id="password" name="password" placeholder="Current Password*" data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter current password.">
                          </div>
                          <div class="form-group  input-dash wow slideInUp">
                             <input class="form-control" type="text" id="new_password" name="new_password" placeholder="New Password*"  data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter new password.">
                          </div>
                          <div class="form-group  input-dash wow slideInUp">
                             <input class="form-control" type="text" id="confrm_password" name="confrm_password"  data-rule-equalto="#new_password" placeholder="confirm password*" data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter confirm new password." data-msg-equalto="Please enter the same value again.">
                          </div>

                          

                          <div class="text-center mlti-btn">
                                <button class="btn btn-common light-green" id="cancel">Cancel</button>
                                <button type="submit" id="sbmt_pass" class="btn btn-common light-green">Update</button>
                          </div>
                        </form>

                        </div>
                 </div>
             </div>
        </div>
    </div>
</section>

<%- include('footer') %>

<script src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$('#password_form').validate({
    onfocusout: function(element) {
      this.element(element);
    },
    errorClass: 'error_validate',
    errorElement:'span',
    highlight: function(element, errorClass) {
      $(element).removeClass(errorClass);
    },
    submitHandler:function(form)
    {
        $('#sbmt_pass').attr('disabled',true);
        form.submit();
    }
});

$(document).ready(function () {
  var flash_msg=$('.flash_msg').html();
  if(flash_msg!="" && flash_msg!=undefined)
  {
    setTimeout(function(){ $('.flash_msg').html('');},4000);
  }    
});

$(document).ready(function () {
  var succ_flash_msg=$('.succ_flash_msg').html();
  if(succ_flash_msg!="" && succ_flash_msg!=undefined)
  {
    setTimeout(function(){ $('.succ_flash_msg').html('');},4000);
  }    
});

$('#cancel').click(function(){
  location.reload();
});
</script> 