<!DOCTYPE html>
<html>
<head>
     <title>The ArtW</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <!-- slick CSS -->
    <link href="assets/css/slick.css" rel="stylesheet"/>
    <link href="assets/css/slick-theme.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
   <!--  <link href="assets/css/custom-home-new.css" rel="stylesheet"/> -->
    <link href="assets/css/custom-llc.css" rel="stylesheet"/>
 

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="assets/css/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .error_validate {
        color: red;
      }
    </style>
</head>
<body class="index-body">



<section class="login-sec align-items-center coming-soon-sec">
    <div class="container">
        <div class="row align-items-center">
           

           
            <div class="col-md-5 ">
               
                <div class="comming-soon-block">
                    <a href="/"><img src="assets/images/logo-white.png" alt="The Art W Logo"></a>
                    <h2>COMING SOON..!</h2>
                    <p>This Applications is under construction, we are working very hard to give you the best experience with this one</p>
                    <div>
                      <a href="javascript:void(0);" id="btn-mobile1" class="purple-btn-index">Iphone</a>
                      <a href="javascript:void(0);" id="btn-mobile2" class="purple-btn-index">Android</a>
                    </div>
                </div>
                
              </div>
               <div class="col-md-4 offset-md-2">

              <div class="screen-tabs is-active">
                <div class="android-screen-slider android-screen">
                     <img src="assets/images/iphone.png" class="img-fluid mockup-img">
                     <div class="banner-slider mobile-screen-set for-iphone">
                        <div class="item">
                            <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                        <div class="item">
                           <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                        <div class="item">
                            <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                    </div>
                  </div>
                <div class="android-screen-slider iphone-screen">
                     <img src="assets/images/android.png" class="img-fluid mockup-img">
                     <div class="banner-slider mobile-screen-set for-android">
                        <div class="item">
                            <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                        <div class="item">
                           <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                        <div class="item">
                            <img src="assets/images/screen-1.jpg" class="img-fluid">
                        </div>
                    </div>
                  </div>
              </div>



             
            </div>
          </div>
  </div>
</section>




  <!-- JQuery -->
        <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- dropdownhover effects JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>
        <!-- wow JavaScript -->
        <script type="text/javascript" src="assets/js/wow.min.js"></script>
        <!-- slick JavaScript -->
        <script type="text/javascript" src="assets/js/slick.js"></script>
         <script type="text/javascript" src="assets/js/slick.min.js"></script>

        <!-- Custom JavaScript -->
        <script type="text/javascript" src="assets/js/custom.js"></script>
        

        <script>
           $('#btn-mobile1').on('click', function(){
              $(".screen-tabs").addClass('is-active');
            });

            $('#btn-mobile2').on('click', function(){
              $(".screen-tabs").removeClass('is-active');
            });
        </script>

         <script type="text/javascript">
            $(".banner-slider").slick({
                dots: true,
                autoplay: true,
                autoplaySpeed: 3000,
                infinite: true,
                arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                responsive: [
                  {
                    breakpoint: 768,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  },
                  {
                    breakpoint: 480,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  }
                  ]
              });


           
        </script>
        
    </body>
</html>



 