<%- include('front-header') %>




<div class="heder-space-strip">
	
</div>

<section class="sec-faq page-section" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h3 class="main-heading-index-new wow slideInLeft"><span>FAQs</span><b>Frequently Asked Questions</b></h3>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-12">
                <div class="accordion" id="accordionExample">
                     
                      
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span>1</span> What is ARTW?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseOne" class="collapseshow collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                     TheARTW is a blockchain-based Art verification and art trading platform. We are building an Art ecosystem which will enable all the stakeholders of the industry – Artists, collectors, art enthusiasts, art exhibitors & galleries, and institutional buyers to buy/sell genuine, verified artwork from our trading platform.
                      </div>
                    </div>
                  </div>
                   
                  <!-- <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <span>2</span> How long will the engineer take at my property?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">The install time is very quick and should take under an hour. The certified engineer will clip the Smart meter onto your existing solar panel wiring, connect it to your wifi, and digitally sign it to say he has done so. At that point, you just log in and start earning your points. </div>
                    </div>
                  </div>
                   
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          <span>3</span> Is it hard to use?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      The Rowan rewards system is incredibly easy to use. Once you have the miner installed you can log into our app (Android, iOS, or through the website) where you will see all the info you need, as well as options to cash out your reward points. Once the engineer has been you never need to change or reset the hardware, and the Rowan platform monitors the system to ensure if it stops working we contact you to arrange an engineer to visit and fix it ASAP. 
                      </div>
                    </div>
                  </div>
                   
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                          <span>4</span> How much will I get?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      It's simple really. For each 1KwH of electricity you produce, you will be rewarded 100 points. 
                      </div>
                    </div>
                  </div>
                   
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                          <span>5</span> What are reward points worth?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      Reward points have a fixed value in money, with every 1000 points  worth £1, and you can cash them out either directly into your PayPal account or onto the Rowan Rewards debit card (coming soon) which can be used in shops as you would use your normal debit card. In the future there are plans to allow direct charity donations in the platform to approved charities, as well as discounts on services or products through using your reward points. 
                      </div>
                    </div>
                  </div>
                   
                  <div class="card">
                    <div class="card-header" id="headingSix">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                          <span>6</span> Can I see how much I've earned?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      When you sign up to Rowan Rewards we give you access to a simple, easy-to-use control panel you can access from your computer or mobile phone. This shows you the important information such as how much power you have produced, how many reward points you have, and how much you can cash out and spend. You can also cash out available points directly through the app at any point, into your PayPal account or onto your Rowan Rewards card. 
                      </div>
                    </div>
                  </div>


                   <div class="card">
                    <div class="card-header" id="headingSix">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseSix">
                          <span>7</span> What if I don't have solar panels yet?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseseven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      Rowan Energy, the company behind the Rowan Rewards system, have several partnerships in place with existing solar suppliers, including <a style="color: #6FBC20;" href="https://www.eco-cute.co.uk/">Ecocute</a> who are happy to talk to you about a complete package of a solar install together with the Rowan Rewards solution.
                      </div>
                    </div>
                  </div>



                   <div class="card">
                    <div class="card-header" id="headingSix">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseSix">
                          <span>8</span> Why are you doing this?
                        </button>
                      </h3>
                    </div>
                    <div id="collapseeight" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      Rowan Energy was founded by David Duckworth after many years of experience in the energy industry. He saw the flaws of the current system, of established monopoly players, and the failings of them to support home renewable energy. In his words,
                      "Am I the only one who thinks selling your energy to the grid for 5p per KwH and then buying back in the evening for 13p is just bonkers?"
                      <br> 
                      He realised that new technology allowed a change to the ecosystem, to fairly reward people who generated power from renewable sources and encourage more people to do so. 
                      </div>
                    </div>
                  </div>


                   <div class="card">
                    <div class="card-header" id="headingSix">
                      <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsenine" aria-expanded="true" aria-controls="collapseSix">
                          <span>9</span> Why is Rowan Rewards paying me? 
                        </button>
                      </h3>
                    </div>
                    <div id="collapsenine" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                      Rowan uses your anonymised information to create custom renewable energy carbon offset certificates. These can then be sold to businesses looking to offset their carbon, but wanting a verifiable source that hasn't been green-washed, and was even created locally to them. 
                      </div>
                    </div>
                  </div> -->
                   
               
                </div>
            </div>
        </div>

    </div>
</section>


<%- include('front-footer') %>