<%- include('header') %>


<section class="dash-inner-sec">
    <div class="container">
        <div class="row">
             <div class="col-lg-10 offset-lg-1 col-md-12">
                 <div class="dashboard-box">
                     <div class="create-wallet-block">
                           <h3 class="main-heading wow slideInLeft">Artw Coin</h3> 
                           <h4 class="green-heading wow slideInRight">Import Your Account</h4>
                           <p class="head-commn-text wow slideInUp">Please enter your private key below to conﬁrm your wallet account.</p>
                           
                            <div class="option-outer">
                              <div class="row">
                                  <div class="col-lg-6 col-md-12">
                                    <a href="/Create-wallet">
                                      <div class="option-inner wow slideInLeft">
                                        <img src="assets/images/other/wallet-icon.png" alt="wallet icon">
                                        <h5>Create New Wallet</h5>
                                        <p>Creating a new wallet will generate a private key which you will need to store in a secure place.</p>
                                      </div>
                                    </a>
                                  </div>
                                  <div class="col-lg-6 col-md-12">
                                    <a href="/Import-wallet">
                                      <div class="option-inner wow slideInRight">
                                      <img src="assets/images/other/import.png" alt="wallet icon">
                                      <h5>Import Existing Wallet</h5>
                                      <p>if you already have a private key, You can simply import it and get access to your Rowen coin wallet.</p>
                                    </div>
                                    </a>
                                  </div>
                              </div>
                            </div>
                        </div>
                 </div>
             </div>
        </div>
    </div>
</section>


<%- include('footer') %>