<%- include('front-header') %>


<div class="heder-space-strip">
	
</div>


<section class="rocket-fuel-sec team-members  page-section" id="our-team">
    <div class="container">
    	 <div class="row">
            <div class="col-md-12">
               <h3 class="main-heading-index-new wow slideInLeft"><span>Management</span><b>Team Members</b></h3>
               
            </div>
        </div>
        <div class="row">
        	<div class="col-md-10 m-auto">
        		<div class="row wow slideInUp justify-content-center">
					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/NishantSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. NISHANT SHARMA</h5>
		                        <p>Executive Director</p>
		                    </div>
		            </div>
					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/PuneetSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. PUNEET MEHTA</h5>
		                        <p>Executive Director</p>
		                    </div>
		            </div>
					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/AdarshSir.png" class="img-fluid">
		                        <h5 class="sub-heading">MR. ADARSH PANDA</h5>
		                        <p>Executive Director</p>
		                    </div>
		            </div>
					<!-- <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/TarunSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. TARUN NAVLANI</h5>
		                        <p>Chief Operating Officer (COO)</p>
		                    </div>
		            </div>

					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/mohitSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. MOHIT SOOD</h5>
		                        <p>Chief Information Officer (CIO)</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/romilSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. ROMIL JAIN</h5>
		                        <p>Chief Financial Officer (CFO)</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/alokSir.jpg" class="img-fluid">
		                        <h5 class="sub-heading">MR. ALOK AGRAWAL</h5>
		                        <p>Chief Technology officer (CTO)</p>
		                    </div>
		            </div> -->
					<!-- <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/SunilSir.jpeg" class="img-fluid">
		                        <h5 class="sub-heading">MR. SUNIL YADAV</h5>
		                        <p>HEAD – Business Networking</p>
		                    </div>
		            </div> -->
		            


		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/dj.png" class="img-fluid">
		                        <h5 class="sub-heading">Dhananjana Joshi</h5>
		                        <p>Chief Marketing Officer (CMO)</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/surabhi.jpg" class="img-fluid">
		                        <h5 class="sub-heading">SURABHI VINCHURKAR</h5>
		                        <p>Sr. Software Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/lokesh.png" class="img-fluid">
		                        <h5 class="sub-heading">LOKESH MAHESHWARI</h5>
		                        <p>Software Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/yash.png" class="img-fluid">
		                        <h5 class="sub-heading">YASH KABRA</h5>
		                        <p>Sr. QA Engineer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/aakash.png" class="img-fluid">
		                        <h5 class="sub-heading">AAKASH TEJWAL</h5>
		                        <p>Sr. Software Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/riya.png" class="img-fluid">
		                        <h5 class="sub-heading">RIYA CHOUHAN</h5>
		                        <p>Sr. Android Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/yatnesh.png" class="img-fluid">
		                        <h5 class="sub-heading">YATNESH NIGAM</h5>
		                        <p>Jr. Android Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/ayushi.png" class="img-fluid">
		                        <h5 class="sub-heading">AYUSHI BARJATYA</h5>
		                        <p>Sr. iOS Developer</p>
		                    </div>
		            </div>
		            <div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/poonam.jpg" class="img-fluid">
		                        <h5 class="sub-heading">POONAM PATEL</h5>
		                        <p>Software Developer</p>
		                    </div>
		            </div>
					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/natasha.png" class="img-fluid">
		                        <h5 class="sub-heading">NATASHA VISHWANI</h5>
		                        <p>Creative Head</p>
		                    </div>
		            </div>
					<div class="col-md-3">
		            	<div class="team-box-new">
		                        <img src="assets/images_old/new-img/soniya.png" class="img-fluid">
		                        <h5 class="sub-heading">SONIYA PATIDAR</h5>
		                        <p>UI/UX Expert</p>
		                    </div>
		            </div>

		        </div>
        	</div>
        </div>
    </div>
</section>





<%- include('front-footer') %>